.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
body{
    /* border: 1px solid black; */
    font-family: "Roboto", sans-serif;
    width: 380px;
    padding-top: 50px;
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
h1{
    color: #1E293B;
    font-weight: 600;
    margin-bottom: 30px;
    width: calc(100% - 40px);
    text-align: start;
}
button{
    width: 78px;
    height: 55px;
    background-color: #ffffff;
    font-size: 10px;
    color: #1E293B;
    font-weight: 80;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover, 
.icon-btn.active{
    background-color: #3B82F6;
    color: #FEFEFA;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.4);
}
.icon-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.icon-btn i{
    width: 15px;
    height: 15px;
}
.converter-container{
    width: calc(100% - 40px);
    background-color: white;
    border-radius: 5px;
    color: #1E293B;
    
}
.converter{
    /* height: 140px; */
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
}
.input-container{
    position: relative;
    width: calc(100% - 10px);
}
.unit-label {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 400;
    color: #3B82F6;
}
.converter input{
    color: #1E293B;
    padding-left: 10px;
    height: 80px;
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    background-color: #F8FAFC;
    border: none;
    border-radius: 5px;
}
/* remove up and down arrows from input type number */
.converter input[type="number"]::-webkit-inner-spin-button,
.converter input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select-container{
    width: calc(100% - 20px);
    border: solid 1px #E2E8F0;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 5px;
}
.converter select{
    width: 100%;
    /* margin-top: 25px; */
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1E293B;
}
.switch-btn{
    position: relative;
    text-align: center;
    padding: 10px 0;
}
.divider {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #E2E8F0;
}
.switch-btn button{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #3B82F6;
    color: #FEFEFA;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.4);
}